.logo{
    height: 40px;
    width:80px;
    border-radius:50%;
     
}
.slide{
    height: 200px;
    width: 400px;
    margin: auto;
    
}
.photo{
    height: 50px;
    width: 80px;
    margin:5px;
    border-style:solid;
}
.firstbock{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    border-radius: 10px;
    margin-top: 30px;
}
.price{
    text-decoration:line-through;
}
.a{
    font-size: 30px;
    padding: 5px;
    margin: 5px;
}
.b{
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}
.c{
    background-color: rgb(215, 215, 243);
    padding: 5px;
    width: 400px;
    border-radius: 5px;
    text-align:center;

}
.fra{
    font-size: 25px;
    color: grey;
    margin-left: 15px;
}
.f{
    height: 100px;
    width: 120px;
}
.free{
    height: 200px;
    width: 50vw;
}
.fh{
    font-size: 25px;
    color: grey;

}
.fl{
    list-style:georgian;
}
.social{
    height: 100px;
    width: 100px;
    margin: 10;
    padding:10;
}
.socialh{
    font-size: 20px;
}
.w{
    width:40vw;
}
